.probe/*
.cache/*

.mejs/*
.mixin.out/*
.vscode/*
crash-reports/*
local/*
logs/*
modernfix/*
oeb/*
oei/*
saves/*
debug/*
backups/*
downloads/*
screenshots/*
xaero/*
/XaeroWaypoints*/

kubejs/config/*
kubejs/jsconfig.json
kubejs/*/jsconfig.json

authlib-injector.log
command_history.txt
minecraftinstance.json
user-prefs.json
usercache.json
usernamecache.json

Create Aether Works-natives/*
Create Aether Works.jar
Create Aether Works.json

resourcepacks/Minecraft-Mod-Language-Modpack-Converted-1.20.1.zip
